Package: eom-dbgsym
Source: eom
Version: 1.28.0-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Debian+Ubuntu MATE Packaging Team <debian-mate@lists.debian.org>
Installed-Size: 701
Depends: eom (= 1.28.0-1)
Section: debug
Priority: optional
Description: debug symbols for eom
Build-Ids: 1ee4ef6abb822fb1ebd7b45766352ba6cae36297 25b01fbb962dbaf704ce963e536d9bb8e6491f5c 719f6ba03cca3750f5ef1d96ab99625acbeb3d4a 87297038b36b770cd0f81fc0fabb939af43d0ada
