Package: mate-common
Version: 1.28.0-1
Architecture: all
Maintainer: Debian+Ubuntu MATE Packaging Team <debian-mate@lists.debian.org>
Installed-Size: 66
Pre-Depends: dpkg (>= 1.15.6~)
Depends: autoconf, autoconf-archive, automake, gettext, gtk-doc-tools, intltool, libtool, pkg-config
Section: devel
Priority: optional
Multi-Arch: foreign
Homepage: http://www.mate-desktop.org
Description: common scripts and macros to develop with MATE
 mate-common is an extension to autoconf, automake and libtool for the MATE
 environment and MATE using applications. Included are mate-autogen.sh and
 several macros to help in MATE source trees.
